# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
Flask~=2.0.1
pandas~=1.3.0
openpyxl~=3.0.7
gunicorn==20.0.4

Jinja2~=3.0.1