<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Försäkrings Verktyg</title>
        <script type=text/javascript src="{{url_for('static', filename='js/admin.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static',filename='content/logo.png') }}">
    </head>
    <body onload="load_values(), load_boxes()">
        <div id="header">
            <img id="title_image" src="{{ url_for('static',filename='content/Logo_main.png') }}" alt="logo">
            <h1 id="title">Beräkningsverktyg adminpanel</h1>
            <div id="menubar">
                <div class="menuitem" onclick="location.href='/'">Gå tillbaka</div>
            </div>
        </div>
        <!-- 
            pillar_prices 
            BPI;
            platform_price
            win_values
            win_types
            moms
            klock_kg
            mount_clock
            pris_klock
            benches
            chairs
            pianos
            spec_prices
        -->
        <div id="form">
            <form class="categories">
                <div class="category_title">
                    <h2>Diverse data</h2>
                </div>
                <!--PILLAR-->
                <div class="category_items">
                    <label>Stapel priser</label><br>
                    <label for="stapel_ett">Typ 1</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="pillar_one" name="pillar_one" class="value">
                    <br class="mobile_break">
                    <label for="stapel_tvp">Typ 2</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="pillar_two" name="pillar_two" class="value">
                    <br class="mobile_break">
                    <label for="stapel_tre">Typ 3</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="pillar_three" name="pillar_three" class="value">
                </div>
                <div class="category_items">
                    <label for="BPI">BPI-värde:</label>
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="BPI" name="BPI" class="value">
                </div>
                <div class="category_items">
                    <label for="läktare">Läktare pris/kvm:</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="läktare" name="läktare" class="value">
                </div>
                    <!--WIN VALUES-->
                <div class="category_items">
                    <label>Fönster priser</label><br>
                    <label for="fönster_ett">Typ 1</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="window_one" name="window_one" class="value">
                    <br class="mobile_break">
                    <label for="fönster_två">Typ 2</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="window_two" name="window_two" class="value">
                    <br class="mobile_break">
                    <label for="fönster_tre">Typ 3</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="window_three" name="window_three" class="value">
                    <br class="mobile_break">
                </div>
                <div class="category_items">
                    <label for="moms">Moms:</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="moms" name="moms" class="value">
                </div>
                <div class="category_items">
                    <label for="klock_kg">Pris klocka/kg:</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="klock_kg" name="klock_kg" class="value">
                </div>
                <div class="category_items">
                    <label for="mount_clock">Pris montering klocka:</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="mount_clock" name="mount_clock" class="value">
                </div>
                <div class="category_items">
                    <label for="pris_klock">Pris elektrisk ringanordning klocka:</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="pris_klock" name="pris_klock" class="value">
                </div>
                <div class="category_items">
                    <label for="pris_torn">Pris tornur:</label>
                    <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="pris_torn" name="pris_torn" class="value">
                </div>
                <!--
                benches
                chairs
                pianos
                spec_prices
                -->
                <div class="category_items">
                    <label>Bänkar Pris</label><br>
                    <label for="bänkar_enkla">Enkla:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="bänkar_enkla" name="bänkar_enkla">
                    <br class="mobile_break">
                    <label for="bänkar_påkostade">Påkostade:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="bänkar_påkostade" name="bänkar_påkostade">
                </div>
                <div class="category_items">
                    <label>Stolar Pris</label><br>
                    <label for="stolar_enkla">Enkla:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="stolar_enkla" name="stolar_enkla">
                    <br class="mobile_break">
                    <label for="stolar_påkostade">Påkostade:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="stolar_påkostade" name="stolar_påkostade">
                </div>
                <div class="category_items">
                    <label>Orgel Pris</label><br>
                    <label for="kororgel">Kororgel:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="kororgel" name="kororgel">
                    <br class="mobile_break">
                    <label for="läktarorgel">Läktarorgel:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="läktarorgel" name="läktarorgel">
                </div>
                <button type="button" onclick="submit_misc()">Ladda in ny data</button>
            </form>
            <div class="categories">
                <div class="category_title">
                    <h2>Första risk data</h2>
                </div>
                <div class="category_items">
                    <label>Stomme uppräkning %</label><br>
                    <label for="stone_base">Sten:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="stone_base" name="stone_base">
                    <span>%</span><br>
                    <label for="tree_base">Trä:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="tree_base" name="tree_base">
                    <span>%</span>
                </div>
                <div class="category_items">
                    <label>Byggnadsdelar</label><br>
                    <label for="clocks">Klockor:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="clocks" name="clocks"><br>
                    <label for="organ">Orgel:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="organ" name="organ"><br>
                    <label for="tones">Stämmor:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="tones" name="tones"><br>
                    <label for="mosaik_window">Mosaikfönster:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="mosaik_window" name="mosaik_window"><br>
                    <label for="artistic">Konstnärlig utsmyckning:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="artistic" name="artistic">
                    <span>%</span>
                </div>
                <div class="category_items">
                    <label>Återställningsgrads faktor</label><br>
                    <label for="budget">Budget:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="budget" name="budget"><br>
                    <label for="standard">Standard:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="standard" name="standard"><br>
                    <label for="exclusive">Exklusivt:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="exclusive" name="exclusive">
                </div>
                <div class="category_items">
                    <label for="bpi_risk">BPI:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="bpi_risk" name="bpi_risk">
                </div>
                <div class="category_items">
                    <label for="raze">Rivning/Sanering:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="raze" name="raze">
                </div>
                <div class="category_items">
                    <label for="factor">Faktor kalkylvärde:</label>
                    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="factor" name="factor">
                </div>
                <button type="button" onclick="make_risk_json()">Ladda in ny data</button>




                <!--<div id="import" class=category_items>
                    <p>Här laddar man upp excel filen med data på förstarisk värden</p>
                    <p>OBS! Filen måste ha exakt samma format som originalfilen</p>
                    <form action = "/import/risk" method = "POST" enctype = "multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="Submit">
                    </form>
                    <p>Här kan du extrahera den nuvarande excel filen</p>
                    <a href="{{ url_for('static',filename='data/risk_data.xlsx') }}" download>
                        <button type="button">Extrahera</button>
                    </a>
                </div>
            -->
            </div>
            <div class="categories">
                <div class="category_title">
                    <h2>Excel data</h2>
                </div>
                <div id="import" class=category_items>
                    <p>Här laddar man upp excel filen med data på väggar, golv etc.</p>
                    <p>OBS! Filen måste ha exakt samma format som originalfilen</p>
                    <form action = "/import/vanlig" method = "POST" enctype = "multipart/form-data">
                        <input type="file" name="file">
                        <input type="submit" value="Submit">
                    </form>
                    <p>Här kan du extrahera den nuvarande excel filen</p>
                    <a href="{{ url_for('static',filename='data/data.xlsx') }}" download>
                        <button type="button">Extrahera</button>
                    </a>
                </div>
            </div>
        </div>
    </body>
</html>