<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Försäkrings Verktyg</title>
        <script type=text/javascript src="{{url_for('static', filename='js/main.js') }}"></script>
        <script type=text/javascript src="{{url_for('static', filename='js/jquery.js') }}"></script>
        <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
        <link rel="icon" href="{{ url_for('static',filename='content/logo.png') }}">
    </head>
    <body onload="load_values(), init_auto()">
        <div id="header">
            <img id="title_image" src="{{ url_for('static',filename='content/Logo_main.png') }}" alt="logo">
            <h1 id="title">Beräkningsverktyg byggnadsvärde kyrkor</h1>
            <div id="menubar">
              <div class="menuitem" onclick="switch_tab('form')">Vanlig försäkring</div>
              <div class="menuitem" onclick="switch_tab('första_risk')">Förstarisk</div>
              <div class="menuitem" onclick="switch_tab('information')">Information</div>
            </div>
        </div>
        <div id="form" class = "pages">
            <!--
            <datalist id="churches">
              FOR LOOP HERE
            </datalist>
            <label for="churches">Kyrka:</label>
            <input list="churches" name="church" id="church">
            -->
 
            <form onchange="update()" class="categories">
              <h2>Byggnad</h2>
              <div class="category_items">
                <form autocomplete="off">
                  <div class="autocomplete">
                    <input id="church_choice" type="text" name="church_choice" placeholder="Kyrka">
                  </div>
              </div>
              <div class="category_items">
                <label for="BRA">BRA-yta (kvm):</label>
                <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="BRA" name="BRA" class="value">
                <button type="button" onclick="get_bra('BRA', 'church_choice')">Ladda in data</button>
              </div>

                <!-- <label for="kategori">Kategori:</label>
                <select id="kategori" name="kategori" class="value">
                    {%for i in range(0, len["types"])%}
                      <option value="{{categories["types"][i]}}">{{categories["types"][i]}}</option>
                    {%endfor%}
                </select><br><br> -->
              <div class="category_items">
                <label for="utsmyckning">Utsmyckning:</label>
                <select id="utsmyckning" name="utsmyckning" class="value" disabled>
                    {%for i in range(0, len["decorations"])%}
                      <option value="{{categories["decorations"][i]}}">{{categories["decorations"][i]}}</option>
                    {%endfor%}
                </select>
              </div>
            </form>
            <form onchange="update()" class="categories">
              <h2>Kalkylvärde kyrkobyggnad</h2>
              <div class="category_items">
                <label for="vägg">Vägg:</label>
                <select id="vägg" name="vägg" class="value_byggnad">
                    {%for i in range(0, len["walls"])%}
                      <option value="{{categories["walls"][i]}}">{{categories["walls"][i]}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label for="golv">Golv:</label>
                <select id="golv" name="golv" class="value_byggnad">
                    {%for i in range(0, len["floors"])%}
                      <option value="{{categories["floors"][i]}}">{{categories["floors"][i]}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label for="innertak">Innertak:</label>
                <br class="mobile_break">
                <select id="innertak" name="innertak" class="value_byggnad">
                    {%for i in range(0, len["inner_roof"])%}
                      <option value="{{categories["inner_roof"][i]}}">{{categories["inner_roof"][i]}}</option>
                    {%endfor%}
                </select>
                <select id="innertak_andra" name="innertak_andra" class="value_byggnad">
                    <option value="Tunnavalv">Tunnavalv</option>
                    <option value="Kryssvalv">Kryssvalv</option>
                </select>
              </div>
              <div class="category_items">
                <label for="yttertak">Yttertak:</label>
                <br class="mobile_break">
                <select id="yttertak" name="yttertak" class="value_byggnad">
                    {%for i in range(0, len["outer_roof"])%}
                      <option value="{{categories["outer_roof"][i]}}">{{categories["outer_roof"][i]}}</option>
                    {%endfor%}
                </select>
                <select id="yttertak_andra" name="yttertak_andra" class="value_byggnad">
                    <option value="Brant">Brant</option>
                    <option value="Flackt">Flackt</option>
                </select>
              </div>
              <div class="category_items">
                <label for="läktare">Läktare (kvm):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="läktare" name="läktare" class="value_byggnad">
              </div>
              <div class="category_items">
                <label for="fönster_typ">Dekorerade Fönster</label><br>
                <span>Typ</span>
                <select id="fönster_typ" name="fönster_typ" class="fönster_typ">
                    {%for i in range(0, len["fönster_typer"])%}
                      <option value="{{categories["fönster_typer"][i]}}">{{categories["fönster_typer"][i]}}</option>
                    {%endfor%}
                </select>
                <br class="mobile_break">
                <label for="fönster_storlek">Area (kvm):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="fönster_storlek" name="fönster_storlek" class="value_stapel">
                <br class="mobile_break">
                <button onclick="add_window()" id="fönster_knapp" type='button'>Lägg till</button><br id="fönster_break">
              </div>
              <div class="category_items">
                <label for="takryttare">Takryttare (pris):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="takryttare" name="takryttare" class="value_byggnad">
                <label for="takryttare_antal">Takryttare (antal):</label>
                <select id="takryttare_antal" name="takryttare_antal" class="value_byggnad">
                    {%for i in range(0, 10)%}
                      <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label for="del_byggnad">Delsumma: </label>
                <span id="del_byggnad">0</span>
              </div>
            </form>
            <form onchange="update()" class="categories">
              <h2>Kalkylvärde tornbyggnad och torntak</h2>
              <div class="category_items">
                <label>Mått tornbyggnad</label><br>
                <label for="torn_bredd">Bredd (m):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="torn_bredd" name="torn_bredd" class="value_torn">
                <br class="mobile_break">
                <label for="torn_längd">Längd (m):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="torn_längd" name="torn_längd" class="value_torn">
              </div>
              <div class="category_items">
                <label for="torn_vägg">Vägg:</label>
                <select id="torn_vägg" name="torn_vägg" class="value_torn">
                    {%for i in range(0, len["walls"])%}
                      <option value="{{categories["walls"][i]}}">{{categories["walls"][i]}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label for="torn_golv">Golv:</label>
                <select id="torn_golv" name="torn_golv" class="value_torn">
                    {%for i in range(0, len["floors"])%}
                      <option value="{{categories["floors"][i]}}">{{categories["floors"][i]}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label>Torntak</label><br>
                <label for="torn_tak">Typ:</label>
                <select id="torn_tak" name="torn_tak" class="value_torn">
                    {%for i in range(0, len["tower_roof"])%}
                      <option value="{{categories["tower_roof"][i]}}">{{categories["tower_roof"][i]}}</option>
                    {%endfor%}
                </select>
                <br class="mobile_break">
                <label for="tak_höjd">Höjd (m):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="tak_höjd" name="tak_höjd" class="value_torn">
                <br class="mobile_break">
                <label for="tak_bredd">Bredd (m):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="tak_bredd" name="tak_bredd" class="value_torn">
                <br>
                <label for="tak_längd">Längd (m):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="tak_längd" name="tak_längd" class="value_torn">
                <br class="mobile_break">
                <label for="tak_antal">Antal:</label>
                <select id="tak_antal" name="tak_antal" class="value_torn">
                    {%for i in range(0, 10)%}
                      <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
              </div>
                <!--<label for="fönster_ett">Typ 1 (kvm):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="fönster_ett" name="fönster_ett" class="value_torn"><br>
                <label for="fönster_två">Typ 2 (kvm):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="fönster_två" name="fönster_två" class="value_torn"><br>
                <label for="fönster_tre">Typ 3 (kvm):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="fönster_tre" name="fönster_tre" class="value_torn"><br><br>-->


              <div class="category_items">
                <label for="fönster_typ_2">Dekorerade Fönster</label><br>
                <span>Typ</span>
                <select id="fönster_typ_2" name="fönster_typ_2" class="fönster_typ_2">
                    {%for i in range(0, len["fönster_typer"])%}
                      <option value="{{categories["fönster_typer"][i]}}">{{categories["fönster_typer"][i]}}</option>
                    {%endfor%}
                </select>
                <br class="mobile_break">
                <label for="fönster_storlek_2">Area (kvm):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="fönster_storlek_2" name="fönster_storlek_2" class="value_stapel">
                <button onclick="add_window_2()" id="fönster_knapp_2" type='button'>Lägg till</button><br id="fönster_break_2">
              </div>
              <div class="category_items">
                <label>Fial</label><br>
                <label for="fial_pris">Pris:</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="fial_pris" name="fial_pris" class="value_torn">
                <br class="mobile_break">
                <label for="fial_antal">Antal:</label>
                <select id="fial_antal" name="fial_antal" class="value_torn">
                    {%for i in range(0, 10)%}
                      <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label for="del_torn">Delsumma: </label>
                <span id="del_torn">0</span>
              </div>
            </form>
            <form onchange="update()" class="categories">
              <h2>Byggnadens tillbehör</h2>
              <div class="category_items">
                <label>Klockor</label><br>
                <label for="klocka_diameter">Diameter:</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="klocka_diameter" name="klocka_diameter">
                <br class="mobile_break">
                <label for="klocka_vikt">Vikt (kg):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="klocka_vikt" name="klocka_vikt">
                <br class="mobile_break">
                <button onclick="add_clock()" id="klocka_knapp" type='button'>Lägg till</button><br id="klock_break">
              </div>
                <!--<label for="elektrisk">Elektrisk ringanordning (Antal klockor):</label>
                <select id="elektrisk" name="elektrisk" class="value_tillbehör">
                      FOR LOOP
                </select><br><br>
                -->
              <div class="category_items">
                <label for="tornur">Tornur (Antal):</label>
                <select id="tornur" name="tornur" class="value_tillbehör">
                    {%for i in range(0, 10)%}
                      <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label>Bänkar</label><br>
                <label for="bänkar_enkla">Enkla:</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="bänkar_enkla" name="bänkar_enkla" class="value_tillbehör">
                <br class="mobile_break">
                <label for="bänkar_påkostade">Påkostade:</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="bänkar_påkostade" name="bänkar_påkostade" class="value_tillbehör">
              </div>
              <div class="category_items">
                <label>Stolar</label><br>
                <label for="stolar_enkla">Enkla:</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="stolar_enkla" name="stolar_enkla" class="value_tillbehör">
                <br class="mobile_break">
                <label for="stolar_påkostade">Påkostade:</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="stolar_påkostade" name="stolar_påkostade" class="value_tillbehör">
              </div>
              <div class="category_items">
                <label>Orgel</label><br>
                <label for="kororgel">Kororgel:</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="kororgel" name="kororgel" class="value_tillbehör">
                <br class="mobile_break">
                <label for="läktarorgel">Läktarorgel:</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="läktarorgel" name="läktarorgel" class="value_tillbehör">
              </div>
              <div class="category_items">
                <label for="del_tillbehör">Delsumma: </label>
                <span id="del_tillbehör">0</span>
              </div>
            </form>
            <form onchange="update()" class="categories">
              <h2>Särskilt värderade tillbehör</h2>
              <div class="category_items">
                <label for="altargrund">Altargrund (Antal):</label>
                <select id="altargrund" name="altargrund" class="value_särskilt">
                    {%for i in range(0, 10)%}
                      <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label for="altare">Altare (Antal):</label>
                <select id="altare" name="altare" class="value_särskilt">
                    {%for i in range(0, 10)%}
                      <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label for="altaruppstas">Altaruppstas/skåp (Antal):</label>
                <select id="altaruppstas" name="altaruppstas" class="value_särskilt">
                    {%for i in range(0, 10)%}
                      <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label for="dopfunt">Dopfunt (Antal):</label>
                <select id="dopfunt" name="dopfunt" class="value_särskilt">
                    {%for i in range(0, 10)%}
                      <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label for="predikstol">Predikstol (Antal):</label>
                <select id="predikstol" name="predikstol" class="value_särskilt">
                    {%for i in range(0, 10)%}
                      <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label for="ljuskronor">Ljuskronor (Antal):</label>
                <select id="ljuskronor" name="ljuskronor" class="value_särskilt">
                    {%for i in range(0, 10)%}
                      <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
              </div>
              <div class="category_items">
                <label>Annat</label><br>
                <label for="namn_eget">Namn:</label>
                <input id="namn_eget" name="namn_eget">
                <br class="mobile_break">
                <label for="pris_eget">Pris (kr):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="pris_eget" name="pris_eget">
                <br class="mobile_break">
                <label for="antal_eget">Antal:</label>
                <select id="antal_eget" name="antal_eget">
                    {%for i in range(1, 10)%}
                      <option value="{{i}}">{{i}}</option>
                    {%endfor%}
                </select>
                <br class="mobile_break">
                <button onclick="add_own()" id="eget_knapp" type='button'>Lägg till</button><br id="eget_break">
              </div>
              <div class="category_items">
                <label for="del_särskilt">Delsumma: </label>
                <span id="del_särskilt">0</span>
              </div>
            </form>
            <form onchange="update()" class="categories">
              <h2>Klockstapel</h2>
                <!--<label for="stapel_ett">Typ 1 (höjd, m):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="stapel_ett" name="stapel_ett" class="value_stapel"><br>
                <label for="stapel_två">Typ 2 (höjd, m):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="stapel_två" name="stapel_två" class="value_stapel"><br>
                <label for="stapel_tre">Typ 3 (höjd, m):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="stapel_tre" name="stapel_tre" class="value_stapel"><br><br>-->

              <div class="category_items">
                <label for="stapel_typ">Klockstapel</label><br>
                <span>Typ</span>
                <select id="stapel_typ" name="stapel_typ" class="value_stapel">
                    {%for i in range(0, len["stapel_typer"])%}
                      <option value="{{categories["stapel_typer"][i]}}">{{categories["stapel_typer"][i]}}</option>
                    {%endfor%}
                </select>
                <br class="mobile_break">
                <label for="stapel_höjd">Höjd (m):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="stapel_höjd" name="stapel_höjd" class="value_stapel">
                <!--<button onclick="add_stapel()" id="stepl_knapp" type='button'>Lägg till</button><br id="stapel_break">-->
              </div>
              <div class="category_items">
                <label>Klockor</label><br>
                <label for="stapel_klocka_diameter">Diameter:</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="stapel_klocka_diameter" name="stapel_klocka_diameter" class="value_stapel">
                <br class="mobile_break">
                <label for="stapel_klocka_vikt">Vikt (kg):</label>
                <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="stapel_klocka_vikt" name="stapel_klocka_vikt" class="value_stapel">
                <br class="mobile_break">
                <button onclick="add_stapel_clock()" id="stapel_klocka_knapp" type='button'>Lägg till</button><br id="stapel_klock_break">
              </div>
                
                <!--<label for="stapel_elektrisk">Elektrisk ringanordning (Antal klockor):</label>
                <select id="stapel_elektrisk" name="stapel_elektrisk" class="value_stapel">
                    FOR LOOP
                </select><br><br>
                -->
              <div class="category_items">
                <label for="del_stapel">Delsumma: </label>
                <span id="del_stapel">0</span>
              </div>
            </form>
            <div id="sammanställning">
              <h1>Sammanställning</h1>
              <form id="sam_form">
  
                  <label for="sam_byggnad">Byggnad: </label>
                  <span id="sam_byggnad">0</span><br><br>
                  <label for="sam_torn">Torn: </label>
                  <span id="sam_torn">0</span><br><br>
                  <label for="sam_btillbehör">Byggnadstillbehör: </label>
                  <span id="sam_btillbehör">0</span><br><br>
                  <label for="sam_särskilt">Särskilt värderade tillbehör: </label>
                  <span id="sam_särskilt">0</span><br><br>
                  <!-- <label for="sam_utsmyckning">Byggnadens utsmyckning: </label>
                  <span id="sam_byggnad">0</span><br><br> -->
                  <label for="sam_stapel">Klockstapel: </label>
                  <span id="sam_stapel">0</span><br><br>
                  <label for="sum">Summa: </label>
                  <span id="sum">0</span><br>
              </form>
              <img src="{{ url_for('static',filename='content/up.png') }}" alt="logo" id="arrow" onclick="hide_sum()">
  
            </div>
            <!-- <button id="submit">Submit</button> -->
        </div>
        <div id="första_risk" class = "pages" hidden="true">
          <form class="categories">
            <h2>Förstarisk Försäkring</h2>
            <div class="category_items">
            <form autocomplete="off">
              <div class="autocomplete">
                <input id="church_choice_2" type="text" name="church_choice" placeholder="Kyrka">
              </div>
            </div>
            <div class="category_items">
              <label for="BRA">BRA-yta (kvm):</label>
              <input type="text" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" id="BRA_2" name="BRA" class="value">
              <button type="button" onclick="get_bra('BRA_2', 'church_choice_2')">Ladda in data</button>    
            </div>
            </form>
          </form>
        </div>
        <div id="information" class = "pages" hidden="true">
          <a href="/admin_panel" id="admin">  
            <button src="/admin_panel" type='button'>Admin</button>
          </a>
          <iframe
            src="{{ url_for('static',filename='content/info.pdf') }}"
            frameBorder="0"
            scrolling="auto"
            height="1000px"
            width="100%"
          ></iframe>
        </div>

        
        
        <!-- <button type="button" id="json" onclick="make_json()">JSON</button> -->
    </body>
</html>