<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Försäkrings Verktyg</title>
        <link rel="icon" href="{{ url_for('static',filename='content/logo.png') }}">
    </head>
    <body>
        <iframe
          src="{{ url_for('static',filename='content/Kyrka.pdf') }}"
          frameBorder="0"
          scrolling="auto"
          height="1000px"
          width="100%"
        ></iframe>
    </body>
</html>